pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# Remove some dev files
/resources/public/js/compiled
.shadow-cljs
node_modules
yarn-error.log
.clj-kondo
.lsp

# MacOS
.DS_Store
