@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS reset */
*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;}
html {height: 100%;}
body {line-height: 1.5; -webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block; max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}
#root, #__next {isolation: isolate;}

html {
  background: #030303;
  color: ivory;
}

#app {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  visibility: hidden;
}

.charm {
  display: block;
  position: fixed;
  width: max-content;
}

.logo-container {
  position: fixed;
  z-index: 10;
  top: 5%;
  left: 2rem;
  border-left: 1.5px solid blanchedalmond;
  border-right: 1.5px solid blanchedalmond;
  font-size: 2.5rem;
  font-family: 'Unna', serif;
  font-weight: 700;
  line-height: 1;
}

.logo::before, .logo::after {
  content: "\273B";
  font-size: 1.8rem;
  color: beige;
  padding: 0 .3rem;
  font-weight: 500;
  vertical-align: 6%;
}

.ph {
  position: fixed;
  z-index: 10;
  bottom: 5%;
  left: 2.5rem;
  font-size: 1.6rem;
  font-family: 'Unna', serif;
  font-weight: 700;
  line-height: 1;
}

.backmatter {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: .6rem;
  width: 100vw;
  color: silver;
}

#owner {
  font-weight: 400;
}

#copyright {
  font-family: 'Unna', serif;
  font-style: italic;
  font-weight: 700;
  display: inline-block;
}

#canvas {
  width: 100vw;
  height: 100vh;
}
